* {
    box-sizing: border-box;
}

.app {
    min-height: 1080px;
    background:rgba(1, 2, 2, 0.3);
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'), local('SFProDisplay'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: local('Helvetica Bold'), local('Helvetica-Bold'), local('HelveticaBold'),
        url('../fonts/HelveticaNeueCyr-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'SF Pro Display', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.fixed-page {
        overflow: hidden;
    }
.flex {
    display: flex;
    align-items: center;
}

.container>* {
    margin-left: 176px;
    margin-right: 176px;
}
.header {
    padding-top: 60px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo.black {
    margin-top: 100px;
    color: #000;
}
.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    width: 48px;
    height: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}
.burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999999;
    background: rgb(184, 184, 184);
    height: 312px;
    padding-top: 40px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease;
    border-radius:0px 0px 8px 8px;
}
.burger-menu.visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
}
.navigation-link {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #353535;
    width: 100%;
    padding: 10px 30px;
    display: block;
}
.navigation-item{
    text-align: center;
}
.navigation-link:hover {
    background-color: rgba(0,0,0, 0.2);
}
/* .navigation-item:not(:last-child){
    margin-bottom: 15px;
} */
.navigation-item:first-child{
    margin-top: 25px;
}
.menu-line {
    background: white;
    display: block;
    width: 48px;
    height: 2px;
    border-radius: 20px;
}
.facebook-link {
    margin-right: 40px;
}
.title {
    font-size: 80px;
    line-height: 84px;
    color: #FFFFFF;
    max-width: 634px;
    margin-top: 190px;
}
.description-text {
    font-size: 17px;
    line-height: 16px;
    color: #FFFFFF;
    max-width: 501px;
    margin-top: 40px;
}
.order-button {
    padding-top: 33px;
    padding-bottom: 33px;
    background: #E8594E;
    border-radius: 8px;
    border: none;
    margin-top: 60px;
    outline: none;
}
.order-button:hover {
    cursor:pointer;
    opacity: 0.9;
}
.button-text {
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 2.18182px;
    color: #FFFFFF;
    padding: 33px 81px;
}

.input-group {
    background: #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 75px;
    min-width: 67%;
    margin-top: 151px;
}
.input-search {
    background-color: transparent;
    border:none;
    outline: none;
    padding: 12px;
    width: 100%;
    padding-left: 23px;
}
.button-search {
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.icon-search {
    fill: black;
}
.bottom {
    display: flex;
    position: relative;
}
.swiper-container {
    width: 502px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 8px 8px 0px 0px;
}
.swiper-description {
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2.18182px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 44px 0;
    margin: 0;
    background: #73AFBA;
    border-radius: 0px 4px 0px 0px;
}
.swiper-img-block {
    width: 100%;
    height: 280px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-button-prev {
    position: absolute;
    left: 50px;
    bottom: 41px;
    z-index: 9999;
}
.slider-button-next {
    position: absolute;
    right: 50px;
    bottom: 41px;
    z-index: 9999;
}
.slider-button-prev:hover {
    cursor:pointer;
}
.slider-button-next:hover {
    cursor:pointer;
}
.places-title {
    max-width: 767px;
    font-size: 64px;
    line-height: 80px;
    color: #1C2E3D;
    margin-top: 150px;
    margin-bottom: 96px;
}
.attractions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}
.place {
    width: 367px;
    height: 551px;
    position: relative;
}
.places-img {
    object-fit: cover;
    width: 367px;
    height: 551px;
    border-radius: 8px;
}
.place::before {
    content: '';
    position: absolute;
    opacity: 0;
    transition: .3s;
}
/* .place::after {
    content: '';
    position: absolute;
    opacity: 0;
    transition: .4s;
} */
.place:hover::before {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(115, 175, 186, 0.9); */
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}
.place:hover::after {
    content: 'Гостиница «Cosmos»';
    position: absolute;
    opacity: 1;
    bottom: 61px;
    left: 53px;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.place-1:hover::after {
    content: 'Памятник Героям-Комсомольцам';
    position: absolute;
    bottom: 61px;
    left: 53px;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.place-2:hover::after {
    content: 'Памятник жертвам сталинских репрессий';
    position: absolute;
    bottom: 61px;
    left: 53px;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.place-3:hover::after {
    content: 'Старый Орхей';
    position: absolute;
    bottom: 61px;
    left: 53px;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.inspiration-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #1C2E3D;
}
.inspiration-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #788692;
    max-width: 634px;
    margin: 0 auto;
}
.inspiration-block {
    display: flex;
}
.inspiration-image {
    width: 100%;
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
    border-radius: 8px;
}
.inspiration-image.medium {
    width: 100%;
    min-height: 700px;
    object-fit: cover;
    border-radius: 8px;
}
.large {
    width: 66%;
}
.small {
    width: 32%;
}
.medium {
    width: 33%;
}
.order {
    position: relative;
    padding-bottom: 200px;
}
.order-title {
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    padding-top: 336px;
    padding-left: 135px;
    margin-bottom: 40px;
}
.order-text {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 600px;
    padding-left: 135px;
    padding-bottom: 174px;
}
.order-block {
    background: url('../img/order-bg.png');
    position: relative;
}
.order-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.order-info {
    position: relative;
    z-index: 3;
}
.order-form {
    display: flex;
    flex-direction: column;
    min-width: 33%;
    background: #FFF;
    border-radius: 8px 8px 8px 8px;
    position: absolute;
    z-index: 9999;
    bottom: 133px;
    right: 133px;
}
.order-form>* {
    margin: auto;
}
.order-input {
    border:none;
    font-size: 20px;
    line-height: 13px;
    border-bottom: 1px solid rgba(28, 46, 61, 0.3);
    outline:none;
    min-width: 357px;
    padding-top: 15px;
}
.order-label {
    font-size: 15px;
    line-height: 13px;
    letter-spacing: 2px;
    color: #1C2E3D;
}
.order-label, .order-input {
    display: block;
}
.btn {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
}
.order-btn-text {
    color:#FFF;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2.18182px;
    color: #FFFFFF;
}










.footer{
	border-top: 1px solid #d9d9d9;
	padding-top:123px;
}

.footer-title{
	position: relative;
	font-family: 'Helvetica',sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2.15px;
	text-transform: uppercase;
	color: #100e0b;
	padding-bottom: 30px;
	margin-bottom: 35px;
}

.footer-title::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: #57a773;
	width: 48px;
	height: 1px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
    margin-left: 176px;
    margin-right: 176px;
}

.footer-link{
	font-weight: 500;
	font-size: 13px;
	color: #959ea6;
	display: inline-block;
	margin-bottom: 12px;
}
.footer-link:hover{
    color: #000000;
}
.subs-form{
	width: 368px;
}

.subs-form-field{
	width: 100%;
	height: 64px;
	border-radius: 8px;
	border: 1px solid #e4e4e4;
	padding-left: 31px;
	background-image: url("../../img/user.svg");
	background-position: calc(100% - 31px) center;
	background-repeat: no-repeat;
    outline: none;
}

.subs-form-btn{
	width: 100%;
	background-color: skyblue;
	height: 64px;
	margin-top: 16px;
	cursor: pointer;
	border: 1px solid #e4e4e4;
	border-radius: 8px;
    outline: none;
}



.footer-bottom{
	border-top: 1px solid #d9d9d9;
	margin-top: 117px;
	padding: 30px 0;
}

.footer-copy{
	font-size: 13px;
	color: #959EA6;
}

.bottom-container{
	justify-content: space-between;
}

.footer-links{
	display: flex;
}

.footer-links-item{
	margin-left: 30px;

}




/* featured */

.featured{
	background-image: url('../../img/featured.jpg');
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 755px;
	position: relative;
    margin-bottom: 150px;
}
.featured::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.featured__stories{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40%;
	background-color: rgba(17, 31, 42, 0.9);
	padding:85px 132px;
    position: absolute;
    z-index: 3;
}

.featured__container{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    position: absolute;
    z-index: 3;
}

.blog-article{
	padding-bottom: 105px;
}

.blog-article__category{
	font-weight: 800;
	font-size: 11px;
	line-height: 1px;
	text-align: center;
	letter-spacing: 2px;
	padding: 15px 30px;
	background-color:rgb(255, 80, 60);
	border-radius: 100px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #FFFFFF;

}

.blog-article__title{
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
	color: #FFFFFF;
	margin-bottom: 18px;
    max-width: 500px;
}

.blog-article__descr{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 40px;
	color: #FFFFFF;
    max-width: 500px;
}

.blog-article__link{
	background-color:skyblue;
	display:inline-block;
}

.featured__title{
	font-weight: 700;
	font-size: 60px;
	line-height: 80px;
	color: #FFFFFF;
}

.feature-list__article{
	border-bottom: 1px solid #4d5a5f;
	display:flex;
	align-items: center;
	padding: 20px 0;
}

.feature-list__item:last-child{
	border-bottom: 1px solid transparent;

}

.feature-list__image{
	border-radius: 100%;
	overflow: hidden;
	height: 48px;
	width: 48px;
	flex-shrink: 0;
}

.feature-list__title>a{
	font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.feature-list__title>a:hover{
	opacity: 0.7;
}
.feature-list__time{
	font-weight: 400;
	font-size: 11px;
	color: rgba(255, 255, 255, 0.502293)
}
.order-button.featured-button {
    padding: 22px 81px;
    color: #fff;
}
.feature-list__text{
	margin-left: 32px;
	padding-right: 35px;
}
@media (max-width: 1366px) {
    .input-group {
        min-width: 51%;
    }
    .attractions {
        display: flex;
        justify-content: none;
    }
    .place {
        width: 49%;
    }
    .places-img {
        width: 100%;
    }
    .places-title {
        text-align: center;
    }
    .blog-article {
        margin-left: 55px;
    }
    .featured__stories {
        padding: 174px 17px;
    }
    .order-form {
        right: 20px;
    }
    .order-label, .order-input {
        margin: 0 20px;
    }
    .order-text, .order-title {
        padding-left: 50px;
    }
    .order-title {
        padding-top: 295px;
    }
    .order-text {
        max-width: 40%;
    }
}